body {
    background-color: rgb(226, 224, 224);
    padding: 30px;
}
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: rgb(202, 207, 212);
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
}

td {
    font-size: 20px;
}

th, td {
    border-top: 1px solid rgb(114, 114, 113);
    border-bottom: 1px solid rgb(114, 114, 113);
    padding: 10px 20px;
}

tbody {
    background-color: rgb(255, 255, 255);
}


.light-color {
    color: gray;
}